base/

# Rust
target/
Cargo.lock.bak

# insta
*.snap.new
*.pending-snap

.DS_Store

# macOS
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100
.Trashes
._*
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/
*.lnk

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
lost+found
